* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

}

.mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 528px; 
    background-color: black;
    border-radius: 25px;
    z-index: 1;
}
.header-section {
    width: 93%;
    height: 90%;
    background-color: black;
    margin-top: 10px;
    border-radius: 5px;
    z-index: 3;
}

.screen {
    width: 100%;
    height: 96%;
    position: relative;
    background-color: #000000;
    margin-top: 20px;
    border-radius: 10px;
    z-index: 2;
}

.screen-home-page {
  width: 100%;
  height: 96%;
  position: relative;
  background-color: #262338;
  background-image: url('resources/bondee-space.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 2;
}

.screen-room {
  width: 100%;
  height: 96%;
  position: relative;
  background-color: #efdbbb;
  background-image: url('resources/room-background.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 2;
}
.screen-grid-view {
  width: 100%;
  height: 96%;
  position: relative;
  background-color: #d0d0d0;
  margin-top: 20px;
  border-radius: 10px;
  z-index: 2;
}

.room{
  width: 100%;
  height: 48%;
  background-color: #efdbbb;
  position: relative;
  border-radius: 10px;
  top: 0px;
  z-index: 2;
}
.note-room{
  width: 100%;
  height: 10%;
  background-color: #7b766d;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  top: 0px;
  z-index: 1;
}

.note-room-bg{
  width: 100%;
  height: 20%;
  position: relative;
  border-radius: 10px 10px 0px 0px;
  top: 0px;
  z-index: 1;
}

.mobile-bottom-nav {
  background: #f9fffe;
  position: absolute;
  bottom: 0px;
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}
.mobile-bottom-nav-home {
  background: #1a1627;
  position: absolute;
  bottom: 0px;
  height: 38px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon-home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon-speechbubble {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon-bee {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 18px;
}

.bloc-icon-home img {
  width: 18px;
}

.bloc-icon-more img {
  width: 18px;
}

.bloc-icon-speechbubble img {
  width: 18px;
}

.bloc-icon-bee img {
  width: 18px;
}

.bloc-icon-profile img {
  width: 18px;
}

.mobile-top-left {
  position: absolute;
  top: 0px;
  height: 38px;
  width: 30%;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex: 3;
  justify-content: flex-start; 
}

.mobile-top-right {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 38px;
  width: 35%;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  flex: 3;
  justify-content: flex-end; 
}

.mobile-next-top-right {
  position: absolute;
  top: 30px;
  right: 0px;
  height: 38px;
  width: 50%;
  margin-top: 10px;
  margin-right: 5px;
  display: flex;
  flex: 3;
  justify-content: flex-end; 
}

.mobile-bottom-left {
  position: absolute;
  bottom: 25px;
  height: 38px;
  width: 50%;
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  flex: 1;
  justify-content: flex-start;
}
.mobile-bottom-right {
  position: absolute;
  bottom: 25px;
  height: 38px;
  width: 50%;
  right: 0px;
  margin-right: 5px;;
  display: flex;
  flex: 1;
  justify-content: flex-end; 
}

.button-circle {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-back {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-paintroller {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-share {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-bee {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-visitor {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-note {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-threedots {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-shirt {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-addevent {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-settings {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #f3fff4;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-dark {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #acacac;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-dark-document {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #acacac;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.button-circle-dark-sailingboat {
  height: 22px;
  line-height: 22px;  
  width: 22px;  
  border-radius: 50%;
  background-color: #acacac;
  text-align: center;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.icon-button__badge {
  position: absolute;
  top: 5px;
  right: 17px;
  width: 10px;
  height: 10px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-button-grid__badge {
  position: absolute;
  top: 5px;
  right: 57px;
  width: 10px;
  height: 10px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-note__badge {
  display: none;
  position: absolute;
  top: 0px;
  right: 37px;
  width: 10px;
  height: 10px;
  background: red;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon-visitor__badge {
  display: none;
  position: absolute;
  top: 0px;
  right: 7px;
  width: 10px;
  height: 10px;
  background: red;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.button-circle img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-back img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-paintroller img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-share img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-bee img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-visitor img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-note img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-threedots img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-shirt img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-addevent img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-settings img{
  width: 14px;
  margin-top: 4px;
}

.button-circle-dark img{
  width: 14px;
  margin-top: 4px;
  
}

.button-circle-dark-document img{
  width: 14px;
  margin-top: 4px;
  
}

.button-circle-dark-sailingboat img{
  width: 14px;
  margin-top: 4px;
  
}

.button-top {
  display: block;
  height: 22px;
  line-height: 22px;
  width: 75px;  
  font-size: 9px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px;
  background-color: #f3fff4;
  cursor: pointer;
  text-align: center;
  margin: 3px 2px
  
}

.button-top-dark {
  display: block;
  height: 22px;
  line-height: 22px;
  width: 75px;  
  font-size: 9px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px;
  background-color: #acacac;
  cursor: pointer;
  text-align: center;
  margin: 3px 10px
}

.button-top-dark-addfriends {
  display: block;
  height: 22px;
  line-height: 22px;
  width: 75px;  
  font-size: 9px;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 15px;
  background-color: #acacac;
  cursor: pointer;
  text-align: center;
  margin: 3px 10px
}

.button-top img{
display: inline-block;
vertical-align: middle;
width: 14px;
  
}

.button-top-dark img{
display: inline-block;
vertical-align: middle;
width: 14px;
}

.button-top-dark-addfriends img{
display: inline-block;
vertical-align: middle;
width: 14px;
}

.center-txt {
  display: inline-block;
  vertical-align: middle;
}



.profile-section{
  width: 100%;
  height: 52%;
  position:relative;
  background-color: #ffffff;
  margin-bottom: 38px;
  bottom: 0px;
  border-radius: 10px;
  z-index: 2;
}

.visitor-section{
  width: 100%;
  height: 90%;
  position:relative;
  background-color: #ffffff;
  margin-bottom: 38px;
  bottom: 0px;
  border-radius: 10px;
  z-index: 2;
}

.note-section{
  width: 100%;
  height: 60%;
  position:relative;
  z-index: 2;
}
.handle{
  background-color: rgb(189, 189, 189);
  position: absolute;
  width: 28px;
  height: 3px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 100px;

}
.multiple-notes-layout {

  width: 100%;
  height: 70%;
  position:relative;
  border-radius: 2px;
  display: flex;
  flex: 1;
  justify-content: space-around; 
}

.note-layout{
  width: 80%;
  height: 100%;
  position:relative;
  background-color: #fffc00;
  border-radius: 2px;
  margin-left: 20px;
  z-index: 2;
}

.note-piece{
  width: 5%;
  height: 90%;
  position:relative;
  background-color: #fffc00;
  margin-top: 10px;
  z-index: 2;
}

.note-noti{
  background-color: #fffc00;
  border-color: #000000;
  position: absolute;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-left: 155px;

}

.profile-layout{
  width: 100%;
  height: 90%;
  position: absolute;
  margin-top: 30px;
  border-radius: 10px;
 

}

.username {
margin-left: 15px; 
margin-bottom: 5px;
font-family:Arial, Helvetica, sans-serif; 
font-size: 14px;
}


.profile-button-layout {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  flex: 1;
  justify-content: space-evenly; 
}

.profile-button{
  display: block;
  height: 25px;
  line-height: 25px;
  width: 98px;  
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 1px;
  text-align: center;
  margin: 3px 5px
}

.profile-button-friends {
  display: block;
  height: 25px;
  line-height: 25px;
  width: 98px;  
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 1px;
  text-align: center;
  margin: 3px 5px
}

.profile-button-qrcode {
  display: block;
  height: 25px;
  line-height: 25px;
  width: 98px;  
  font-size: 10px;
  font-family:Arial, Helvetica, sans-serif;
  background-color: #f1f1f1;
  cursor: pointer;
  border-radius: 1px;
  text-align: center;
  margin: 3px 5px
}

.profile-button img{
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  margin-right: 6px;  
}

.profile-button-friends img{
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  margin-right: 6px;  
}

.profile-button-qrcode img{
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  margin-right: 6px;  
}

  .chat-button{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 110px;  
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family:Arial, Helvetica, sans-serif;
    background-color: #000000;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    margin: 3px 5px
    
  }
  .stick-note-button{
    display: block;
    justify-content: center;
    height: 25px;
    line-height: 25px;
    width: 100px;  
    font-size: 10px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    cursor: pointer;
    border-radius: 15px;
    text-align: center;
    margin-top: 60px;
    margin-top: 40px;
    margin-left: 65px;
    
    
  }
  